{% extends "base.html" %}

{% block announce %}
  <div class="header-contact-links">
    <a href="https://www.healthdata.ai" target="_blank" rel="noopener">
      <svg class="header-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"><path d="M4 10.5L12 4L20 10.5V20H14V14H10V20H4V10.5Z"/></svg>
      www.healthdata.ai
    </a>
    <span aria-hidden="true">|</span>
    <a href="mailto:info@seantis.ch">
      <svg class="header-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"><path d="M20 8L12 13L4 8V6L12 11L20 6V8ZM20 4H4C2.89 4 2 4.89 2 6V18C2 19.11 2.89 20 4 20H20C21.11 20 22 19.11 22 18V6C22 4.89 21.11 4 20 4Z"/></svg>
      info@seantis.ch
    </a>
    <span aria-hidden="true">|</span>
    <a href="tel:+41415112250">
      <svg class="header-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"><path d="M6.62 10.79C8.06 13.62 10.38 15.94 13.21 17.38L15.41 15.18C15.68 14.91 16.08 14.82 16.43 14.93C17.55 15.3 18.75 15.5 20 15.5C20.55 15.5 21 15.95 21 16.5V20C21 20.55 20.55 21 20 21C10.61 21 3 13.39 3 4C3 3.45 3.45 3 4 3H7.5C8.05 3 8.5 3.45 8.5 4C8.5 5.25 8.7 6.45 9.07 7.57C9.18 7.92 9.09 8.32 8.82 8.59L6.62 10.79Z"/></svg>
      +41 41 511 22 50
    </a>
  </div>
{% endblock %}

{% block extrahead %}
  {{ super() }}

  <script defer data-domain="docs.healthdata.ai" src="https://analytics.seantis.ch/js/script.js"></script>

  <!-- Open Graph -->
  <meta property="og:title" content="{{ page.title }} - {{ config.site_name }}">
  <meta property="og:description" content="{{ config.site_description }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.canonical_url }}">
{% endblock %}
